Body {
	background-color: greenyellow;

}

#rm {
	width: 500px;
	height: 550px;
}
#jk {
	width: 500px;
	height: 550px;
}
#jin {
	
	width: 500px;
	height: 550px;	
}
#jh {
	width: 500px;
	height: 550px;		
	

}
container {
	text-align: center;
}

#myCarousel {
	background-color: red;
}

#myCarousel img {
	height: 300px;
	margin-top: 35px;
}

.carousel-inner p {
	margin-bottom: 15px;
	margin-top: 15px;
	color: white;
	font-size: 20px;
}

#myCarouse2 {
	background-color: #b5d0d4;
}

#myCarouse3 img {
	height: 300px;
	margin-top: 35px;
}

#myCarouse3 {
	background-color: #b5d0d4;
}

#myCarouse4 img {
	height: 300px;
	margin-top: 35px;
}
#myCarouse2 {
	background-color: #b5d0d4;
}

#myCarouse4 img {
	height: 300px;
	margin-top: 35px;
}